body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
}
#green {
  grid-column: 1/-1;
}
#yellow {
}

#yellow ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#orange {
  grid-column: 1/3;
  grid-row: 3/4;
}
#red {
}
#red ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#blue {
  grid-row: 2/4;
}
