* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 200px;
  margin: 50px;
  padding: 15px;
}
img {
  height: 100px;
  width: 200px;
  margin-bottom: 5px;
}
ul {
  list-style: none;
}
li {
  margin-bottom: 5px;
  padding: 5px;
  border-bottom: 1px solid black;
}
